*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(233, 229, 229);
}
main{
    width: 50%;
    height: 100%;
    margin: 200px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 50vh;
    width: 100vh; 
}
.one{
    background-color: orange;
    padding: 30px;
    padding-top: 50px;
}
.two{
    background-color: rgb(67, 67, 110);
    padding: 30px;
    padding-top: 50px;
}
.three{
    background-color: rgb(72, 126, 72);
    padding: 30px;
    padding-top: 50px;
}
.a{
    background-color: white;
    color: orange;
    padding: 5px;
    border-radius: 3em;
    margin: 40px;
}
.b{
    background-color: white;
    color:  rgb(67, 67, 110);
    padding: 5px;
    border-radius: 3em;
    margin: 40px;
}
.c{
    background-color: white;
    color: rgb(72, 126, 72);
    padding: 5px;
    border-radius: 3em;
    margin: 40px;
}